.footer {
	background: #333333;
	font-family: 'Jost';
	padding-top: 26px;
	padding-bottom: 56px;

    svg {
        fill:white
    }
}


.footer ul {
	list-style: none;
	padding-left: 0;
    margin-bottom: 20px;
}

.footer li {
	position: relative;
	margin-bottom: 8px;
}

.footer .callback__phone {
	position: relative;
    padding-left: 20px;
}

.footer .callback__phone::before {
	content: '';
	position: absolute;
	height: 13px;
	left: 0;
	bottom: 3px;
	width: 13px;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyI+DQogIDxpbWFnZSBpZD0icGhvbmUiIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFBMEFBQUFOQ0FZQUFBQnk2K1I4QUFBQUJITkNTVlFJQ0FnSWZBaGtpQUFBQVBOSlJFRlVLRk9OMEN0TEJVRWNodkhmU2VJbWcyQ1IyV0FUVVRCb0ZoU2JWWXlDV1V4Vy9RNUd2NERZTklzWUxFYnhVa1J3RmpSNFFReG5pOEtSMFQyeTRtWFBXNGJoL3o3enpFeXJIY01lSm56bUdWTlppSy9WL3RlbDFZN2hCbmx0T3B5RmVOc0VuYVRUYTZXWkxNU2pKbWdiSzdYU2FoYmlWaE8waUoycWRJNWtlbXlDK25HSE40eG1JVDc4QjZSWnE5UHBLSXQ4QTV1WXkwSTg2QlZLdGpQMFlUb0xNWm4vekljcHBTenlTUnpqR3ZOZHNDenlRU3hWaDE3aC9ndXF3Rm5zNHduTE9NVWh4bXJheTI5UXpiaUxFYVJmVEtaNlhuNUFGWmpldUk0MURQUUVkVXRsa1NkNEFlbmE0eGpDeFR2emQxNHBrQ1BNS3dBQUFBQkpSVTVFcmtKZ2dnPT0iLz4NCjwvc3ZnPg0K");
}


.footer a {
	color: #fff;
}

.footer .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.footer .container>div {
	width: 24%;
}

.footer-title {
	color: #fff;
	font-weight: 500;
	margin-bottom: 26px;
}

footer strong,
.footer-address {
	color: #fff;
}

.footer-address {
    font-size: 14px;
}

@media screen and (max-width: 1012px) {
	.footer .container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.footer .container>div {
		width: 48%;
	}
}


@media screen and (max-width: 862px) {

	.footer {
		padding-bottom: 75px;
	}

}


@media screen and (max-width: 512px) {
	.footer .container>div {
		width: 100%;
	}
}

@media only screen and (max-width:500px) {
	.footer-menu {
		width: 100%;
		text-align: center
	}

	.footer .container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}

	.footer-top__bg {
		bottom: 100%;
	}
}


@media only screen and (max-width:480px) {

	.footer-form__title {
		font-size: 30px
	}

	.footer-form__subtitle {
		font-size: 16px
	}

	.footer form {
		width: 100%
	}

}
