@import "null";
@import "fonts";
@import "new-style";

body {
    font-family: 'Jost', sans-serif;
}

.section_btn_wrapper {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}

section {
    padding: 20px 0;
    h1,h2 {
        text-align: center;
    }

    h2{
        margin-bottom: 40px;
        margin-top: 0;
    }

    h1{
        font-size: 2em;
    }
}

@import "header-line";
@import "main-banner";
@import "product-card";
@import "category";
@import "product-page";
@import "footer";
@import "vedomstva";
