@import "vars";
@import "null";
@import "fonts";
@import "new-style";
@import "form/all-form";
@import "elements/all-elements";

body {
    font-family: 'Jost', sans-serif;
}

.section_btn_wrapper {
    margin-top: 40px;
    text-align: center;
    width: 100%;
}


section {
    padding: 20px 0;
    h1,h2 {
        text-align: center;
    }

    h2{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    h1{
        font-size: 2em;
    }
}

.map_comment{
    background-color: #65B965;
    h2{
        margin: 0;
        text-align: left;
    }
}

.map_page{
    padding: 0;
    height: 300px;
}

@import "pagination";
@import "header-line";
@import "main-banner";
@import "product-card";
@import "category";
@import "product-page";
@import "footer";
@import "vedomstva";
@import "kontakti-page";
@import "mobile_catalog_menu";
@import "mobile_bottom_menu";

